body{
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(img/BG.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    font-family: oswald;
}

.bg{
    height:100PX;
    width: 100%;
    background-color: black;
}
.left{
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 5px;
    width: 172px;
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 3px;
    font-size: smaller;
}
.left img{

    width: 115px;
    height: 70px;
}

.mid{
    display: block;
    position: absolute;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    top: 0px;
    left: 400px;
}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
}

.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 15px;
    font-family: 'oswald';
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: gold;
    font-size: larger;
}
.btn{
    margin:0px 9px; 
    color:white ;
    background-color: black;
    padding: 3px 8px;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'oswald';
    text-align: center;
}
.btn:hover{
    background-color: gold;
    color: black;
}