  
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  body {
    font-family: montserrat;
  }

  nav {
    background: black;
    height: 80px;
    width: 100%;
  }

  #logoimg{
    height: 80px;
    float: left;
    margin-left: 20px;
}
  label.logo {
    color: gold;
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }

  nav ul {
    float: right;
    margin-right: 20px;
  }

  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }

  nav ul li a {
    color: gold;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 2px;
    text-transform: uppercase;
  }

  a.active,a:hover {
    text-decoration: underline;
    font-size: larger;
    background: rgb(91, 91, 91);
    transition: 0.5s;
  }

  .checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    color: gold;
  }

  #check {
    display: none;
  }

  @media (max-width: 952px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a {
      font-size: 16px;
    }
  }

  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }

    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: black;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
      text-decoration: none;
    }

    nav ul li a {
      font-size: 20px;
    }

    a.active,
    a:hover {
      background: none;
      font-size: larger;
      color: red;
    }

    #check:checked ~ ul{
      left: 0;
    }
  }

  section {
    background: url(Back.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
  header
{
    background-color: aqua;
    width: 100%;
    height: 100px;
}
/* Footer Start */
footer
{
    background-color: black;
    height: 100px;
    width: 100%;
}
.foot
{
    color :white
}
.info
{
    padding-left: 20px;
    padding-top: 20px;
}

.list
{
    padding-left: 20px;
    color: white;  
}
.list:hover
{
    color: aquamarine;
}
#leftcol
{
    float:left
}
#midcol
{
    padding-right: 20px;
    float:right;
    text-align: right;
}
/* Footer End */
#HomeB
{
    height: 30%;
    width: 100%;
}
#HomeV
{
    height: 30%;
    width: 100%;
}
body{
    color: white;
    margin: auto;
    padding: 0px;
    background: url(img/BG.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    font-family: oswald;
    background-color: white;
}

.bg{
    height:100PX;
    width: 100%;
    background-color: black;
}
.left{
    display: flex;
    position: absolute;
    left: -10px;
    top: 5px;
    width: 172px;
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 3px;
    font-size: smaller;
}
.left img{

    width: 115px;
    height: 70px;
}

.mid{
    display: flex;
    position:absolute;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    top: 0px;
    left: 400px;
}
.right{
    display: flex;
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
}

.navbar{
    align-items: center;
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 15px;
    font-family: 'oswald';
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: gold;
    font-size: larger;
}
.btn{
    margin:0px 9px; 
    color:white ;
    background-color: black;
    padding: 3px 8px;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'oswald';
    text-align: center;
}
.btn:hover{
    background-color: gold;
    color: black;
}
@media (max-width: 952px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a {
      font-size: 16px;
    }
  }

  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }

    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: black;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
      text-decoration: none;
    }

    nav ul li a {
      font-size: 20px;
    }

    a.active,
    a:hover {
      background: none;
      font-size: larger;
      color: red;
    }

    #check:checked ~ ul{
      left: 0;
    }
}

.container {  
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
}
/* .container:hover img
{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
} */

.lists1 {
    background-color: rgb(254, 254, 255);
    width:100%;
    height:100%;
    margin: 1%;
    padding: 1%;
    border: 1px solid rgb(224, 220, 220);
   
}
.lists1 img {
    height:90%;
    width: 100%;
  
}  
.lists1 p{
    text-align: center;
    color: black;
}
#b1 {
    margin-left: 7%;
   
}
#b4 {
    margin-right: 7%;
}

.sort ul{
    text-decoration: none;
    background-color: #000000;
    padding: 2px;
    text-align: center;
  }
  .sort ul li{
    text-decoration: none;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    padding: 5px 40px;
  }
  .sort ul li button{
    height: 35px;
    width: max-content;
    background-color: black;
    color: #eceff1;
    font-size: 25px;
    font-family: inherit;
    padding: 5px 10px ;
    cursor: pointer;
  }

  .sort ul li button:hover{
    background-color: grey;
    color: white;
    text-decoration: underline;
  }

  .Shoes{
    margin: 1%;
    border: 2px solid rgb(87, 86, 86);
    border-radius: 5px;
    width: 15%;
    text-align: center;
    padding: 1%;
  }

  .container2 img {
    width: 100%;
    height: auto;
  }
  .container2 img:hover{
    border: 2px solid black;
  }

  .info {
    line-height: normal;
    color: black;
  }
  
  .info p {
    font-size: large;
    text-align: center;
    color: black;
  }
  
  #protitle {
    font-size: 24px;
    color: black;
    font-weight: bold;
  }

  #price {
    font-size: 20px;
    font-weight: bold;
  }

  @media (max-width: 858px) {
    .info {
      line-height: normal;
    }

    .info p {
      font-size: 8px;
      text-align: center;
    }

    #protitle {
      font-size: 10px;
      font-weight: bold;
      line-height: normal;
    }

    #price {
      font-size: 10px;
      font-weight: bold;
    }
  }

  #jordan{
    background-color: #f6f6f6;
  }
  #adidas{
    background-color: #eceef0;
  }
  #puma{
    background-color: #fafafa;
  }
  #rebook{
    background-color: #f1f2f4;
  }

  #jordan:hover{
    background-color: #0000003f;
  }
  #adidas:hover{
    background-color: #0000003f;
  }
  #puma:hover{
    background-color: #0000003f;
  }
  #rebook:hover{
    background-color: #0000003f;
  }

  .Jordan{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
  .Adidas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
 .Puma{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
  .Rebook{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }

  .hide{
    display: none;
  }